* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}
.border-red {
    border: 2px solid red;
}
.border-blue {
    border: 2px solid blue;
}
.border-green {
    border: 2px solid green;
}
.border-grey {
    border: 2px solid grey;
}
.border-white {
    border: 2px solid white;    
}
html, body {
    //background-color: rgb(222, 230, 238);
    font-family: 'Roboto';
    color:rgb(0, 47, 64);
    height: 100%;
    font-size: 20px;
    @media (max-width: $mobile-max) {      

    }    

}
.btn {
    color:rgb(0, 47, 64);
    background-color: rgb(234, 242, 255);
    border: none;
    border-radius: 4px;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.5);
    height: 40px;
    min-width: 120px;
    margin-bottom: 16px;
    cursor: pointer;
}

.app-page {
    padding: 64px;
    @media (min-width: $desktop-min) and (max-width: $desktop-max) {
        padding: 32px;
    }     
    @media (min-width: $tablet-min) and (max-width: $tablet-max) {

    }      
    @media (max-width: $mobile-max) {

    } 
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    &:visited {
        text-decoration: none;
    }
}